<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json" />
    <title>zq-tools</title>
    <style>
        :root {
            color-scheme: dark light;
            --bg-default: #fff;
        }

        @media (prefers-color-scheme: dark) {
            :root {
                --bg-default: #000;
            }
        }

        .flex {
            display: flex;
        }

        .flex-wrap {
            flex-wrap: wrap;
        }

        .flex-col {
            flex-direction: column;
        }

        .flex-1 {
            flex: 1;
        }

        .w-0 {
            width: 0;
        }

        .p-2 {
            padding: 0.5rem;
        }

        .gap-2 {
            gap: 0.5rem;
        }

        .sticky {
            position: sticky;
            top: 0;
        }

        .block{display: block;}
        .h-full{height: 100%;}


        .btn {
            cursor: pointer;
        }

        .btn:hover {
            background-color: #666;
        }

        .bg-default {
            background-color: var(--bg-default);
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-gap: 0.5rem;
            margin: 0 auto;
        }

        .grid-item {
            text-align: left;
        }

        .grid-item:nth-child(2n) {
            background-color: #6666;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="flex flex-wrap sticky bg-default">
            <div v-for="(tab,i) in tabs" class="p-2 btn" @click="currentTab=i" :style="{background:currentTab===i?'#666':''}">
                <a :href="'#'+i">{{tab.title}}</a>
            </div>
        </div>
        <div class="p-2">
            <div v-for="group in tabs[currentTab].groups">
                <h3 v-if="group.title">{{group.title}}</h3>
                <div class="grid-container">
                    <div v-for="(item,i) in group.items" class="grid-item">
                       <a :href="item.url" class="block h-full"> {{i+1}}.  {{item.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/vue-3.js"></script>
    <script>
        const data = {
            tabs: [
                {
                    title: '本站在线工具',
                    groups: [
                        {
                            items: [
                                { "name": "印章", "url": "tools/yinzhang.html" },
                                { "name": "SVG", "url": "tools/svg.html" },
                                { "name": "HTML编辑器", "url": "tools/editor/editor.html" },
                                { "name": "CDN", "url": "tools/bootcdn.html" },
                                { "name": "JS 代码分析", "url": "tools/ast/index.html" },
                                { "name": "npm包查询工具", "url": "tools/npm.html" },
                                { "name": "pug/jade与html互转工具", "url": "tools/template/pug" },
                                { "name": "html与markdown互转工具", "url": "tools/converter/markdown" },
                                { "name": "table合并单元格", "url": "tools/table/index.html" }
                            ]
                        }
                    ]
                }, {
                    title: '第三方',
                    groups: [
                        {
                            title: '平台',
                            items: [
                                { "name": "observablehq", "url": "https://observablehq.com/" },
                                { "name": "github", "url": "https://github.com/" },
                                { "name": "glitch", "url": "https://glitch.com/" },
                                { "name": "mapbox", "url": "https://www.mapbox.com/" },
                            ]
                        }, {
                            title: '工具',
                            items: [
                                { "name": "在线流程图：drawio", "url": "https://www.draw.io/" },
                                { "name": "在线流程图：drawio-本地克隆", "url": "https://cnxzq.github.io/drawio-simple/" },
                                { "name": "文本背景色调节:contrast-checker", "url": "https://contrast-checker.glitch.me/" },
                                { "name": "实时地球数据-NASA worldview", "url": "https://worldview.earthdata.nasa.gov" }
                            ]
                        }
                    ]
                }, {
                    title: "筛选工具",
                    groups: [
                        {
                            items: [
                                { "name": "bootcdn", "url": "tools/bootcdn.html" },
                                { "name": "npmtrends:NPM包趋势对比分析", "url": "https://www.npmtrends.com/" },
                            ]
                        }
                    ]
                }, {
                    title: "libs",
                    groups: [
                        {
                            items: [
                                { "name": "代码编辑-monaco", "url": "demo/monaco/editor.html" },
                                { "name": "Vega –可视化语法", "url": "https://vega.github.io/" },
                            ]
                        }
                    ]
                }, {
                    title: "文档",
                    groups: [
                        {
                            items: [
                                { "name": "Ramda", "url": "demo/ramdaDoc/ramda.html" },
                                { "name": "CSS flexbox", "url": "demo/css3/flexbox.html" }
                            ]
                        }
                    ]
                }, {
                    title: "其他",
                    groups: [
                        {
                            items: [
                                { "name": "cnxzq", "url": "cnxzq.github.io" },
                                { "name": "coding page", "url": "http://rma9er.coding-pages.com" },
                                { "name": "gitee page", "url": "https://kykjsoft.gitee.io" },
                            ]
                        }
                    ]
                }, {
                    title: "资源",
                    groups: [
                        {
                            items: [
                                { "url": "https://pan.quark.cn/s/98f935611677", "name": "吞噬星空" },
                                { "url": "https://pan.quark.cn/s/99758a147076", "name": "遮天" },
                                { "url": "https://pan.quark.cn/s/ac4b5284ee52", "name": "剑来 第二季" },
                                { "url": "https://pan.quark.cn/s/fb43d7fff9df", "name": "中国奇谭2 / 中国奇谭第二季 / 中国奇谭第二部" },
                                { "url": "https://pan.quark.cn/s/ab8662f2ed34", "name": "完美世界" },
                                { "url": "https://pan.quark.cn/s/ed176c248a86", "name": "一人之下 第六季" },
                                { "url": "https://pan.quark.cn/s/982f9788df6e", "name": "永生之太元仙府 / 永生 第五季【附往季】" },
                                { "url": "https://pan.quark.cn/s/691a23418711", "name": "斗破苍穹" },
                                { "url": "https://pan.quark.cn/s/31886befeaff", "name": "光阴之外" },
                                { "url": "https://pan.quark.cn/s/b53acd773be1", "name": "牧神记" },
                                { "url": "https://pan.quark.cn/s/45b6e7074e57", "name": "仙逆" },
                                { "url": "https://pan.quark.cn/s/3e6f0bab3ad0", "name": "历史调研室" },
                                { "url": "https://pan.quark.cn/s/d101c1b7a56f", "name": "小约翰可汗" },
                                { "url": "https://pan.quark.cn/s/defde9e83c13", "name": "思维实验室" },
                                { "url": "https://pan.quark.cn/s/515ce0bfc52e", "name": "木鱼水心" },
                                { "url": "https://pan.quark.cn/s/6741b3dc29f8", "name": "渤海小吏" },
                                { "url": "https://pan.quark.cn/s/e788975d1e8a", "name": "食贫道" },
                                { "url": "https://pan.quark.cn/s/40737265b3d1", "name": "咒术回战 第三季（附系列合集）" },
                                { "url": "https://pan.quark.cn/s/ce9874ca0c71", "name": "小城大事" },
                                { "url": "https://pan.quark.cn/s/cef380887237", "name": "轧戏" },
                                { "url": "https://pan.quark.cn/s/a65ea5306571", "name": "匹兹堡医护前线 第二季（附第一季）" },
                                { "url": "https://pan.quark.cn/s/a6ac9bb2b396", "name": "老练律师 第二季" },
                                { "url": "https://pan.quark.cn/s/b4c47d91a98b", "name": "辐射 第二季" },
                                { "url": "https://pan.quark.cn/s/d244effb19fd", "name": "守护解放西 第六季" },
                                { "url": "https://pan.quark.cn/s/3de9d904dcf0", "name": "圆桌派 第八季" },
                                { "url": "https://pan.quark.cn/s/84cf15b4b6b5", "name": "毛雪汪" },
                                { "url": "https://pan.quark.cn/s/b88cc1914f21", "name": "现在就出发 第三季" },
                                { "url": "https://pan.quark.cn/s/f392cfa1adc3", "name": "音乐缘计划2" },
                                { "url": "https://pan.quark.cn/s/a1f1325adf90", "name": "Running Man" },
                                { "url": "https://pan.quark.cn/s/f4c332b81e54", "name": "认识的哥哥" },
                                { "url": "https://pan.quark.cn/s/2e13c944b262", "name": "仙帝归来" },
                                { "url": "https://pan.quark.cn/s/c74ba094e2db", "name": "仙剑奇侠传三" },
                                { "url": "https://pan.quark.cn/s/c18b5666fab0", "name": "傲世丹神" },
                                { "url": "https://pan.quark.cn/s/2820b9bfa020", "name": "百炼成神 第三季" },
                                { "url": "https://pan.quark.cn/s/bf592749e65d", "name": "天相" },
                                { "url": "https://pan.quark.cn/s/0320662384cc", "name": "玄界之门" },
                                { "url": "https://pan.quark.cn/s/d2136bbd04b9", "name": "紫川第二季" },
                                { "url": "https://pan.quark.cn/s/efc63fa6ca7e", "name": "神印王座" },
                                { "url": "https://pan.quark.cn/s/6d35196a50ec", "name": "大唐乘风录" },
                                { "url": "https://pan.quark.cn/s/f3798bc89cd7", "name": "师兄啊师兄 年番2" },
                                { "url": "https://pan.quark.cn/s/0b5c5b0ab20f", "name": "大主宰 年番2" },
                                { "url": "https://pan.quark.cn/s/6ccf98e5825b", "name": "神墓 年番" },
                                { "url": "https://pan.quark.cn/s/565ada9e75e5", "name": "斗罗大陆 第二季" },
                                { "url": "https://pan.quark.cn/s/df2ae2be5711", "name": "仙武传" },
                                { "url": "https://pan.quark.cn/s/ec0a4e4ef327", "name": "山海经密码" },
                                { "url": "https://pan.quark.cn/s/0fdcb383eae5", "name": "仙王的日常生活 第五季" },
                                { "url": "https://pan.quark.cn/s/f1849529d0b5", "name": "宗门里除了我都是卧底" },
                                { "url": "https://pan.quark.cn/s/ae06c2c87099", "name": "无上神帝" },
                                { "url": "https://pan.quark.cn/s/ad0926a681dd", "name": "灵武大陆" },
                                { "url": "https://pan.quark.cn/s/e47517601e01", "name": "神在囧途" },
                                { "url": "https://pan.quark.cn/s/5e035009665b", "name": "逆天至尊" },
                                { "url": "https://pan.quark.cn/s/de438c9a264e", "name": "万界独尊" },
                                { "url": "https://pan.quark.cn/s/90393205eac5", "name": "为喵人生" },
                                { "url": "https://pan.quark.cn/s/ffc84fd6d866", "name": "开局地摊卖大力" },
                                { "url": "https://pan.quark.cn/s/c201dba555d2", "name": "武神主宰" },
                                { "url": "https://pan.quark.cn/s/cfd3e29752d7", "name": "武魂大陆" },
                                { "url": "https://pan.quark.cn/s/5a5794aee21a", "name": "炼气十万年" },
                                { "url": "https://pan.quark.cn/s/4170a682282d", "name": "绝世战魂" },
                                { "url": "https://pan.quark.cn/s/5895908cd172", "name": "绝世神皇" },
                                { "url": "https://pan.quark.cn/s/05ca8b9a3811", "name": "凌天独尊" },
                                { "url": "https://pan.quark.cn/s/ea3cc69cfe63", "name": "双生武魂" },
                                { "url": "https://pan.quark.cn/s/27d29665307a", "name": "启运丹田：开局签到至尊丹田" },
                                { "url": "https://pan.quark.cn/s/d2e9d6f798c5", "name": "紫禁·御喵房" },
                                { "url": "https://pan.quark.cn/s/4d22a557c280", "name": "荒古恩仇录·破风篇" },
                                { "url": "https://pan.quark.cn/s/6d9116fe194c", "name": "都市古仙医" },
                                { "url": "https://pan.quark.cn/s/dc02410e3d13", "name": "武碎星河" },
                                { "url": "https://pan.quark.cn/s/1be52ff9c34c", "name": "九阳武神" },
                                { "url": "https://pan.quark.cn/s/e8186073ffa7", "name": "全能高手" },
                                { "url": "https://pan.quark.cn/s/c19af71856d3", "name": "海贼王 附全系列合集" },
                                { "url": "https://pan.quark.cn/s/b67bfe5721ef", "name": "身为暗杀者的我明显比勇者还强" },
                                { "url": "https://pan.quark.cn/s/23eb039b58f1", "name": "名侦探柯南【附系列合集】" },
                                { "url": "https://pan.quark.cn/s/594cbe9abe7c", "name": "东岛丹三郎想成为假面骑士" },
                                { "url": "https://pan.quark.cn/s/726ca567b8e3", "name": "假面骑士ZZZ / 假面骑士Zeztz" },
                                { "url": "https://pan.quark.cn/s/db6cb56de2d3", "name": "人民的选择" },
                                { "url": "https://pan.quark.cn/s/04b50959a96b", "name": "整形过后" },
                                { "url": "https://pan.quark.cn/s/604f33add918", "name": "玉茗茶骨" },
                                { "url": "https://pan.quark.cn/s/931b0b566c2c", "name": "秋雪漫过的冬天" },
                                { "url": "https://pan.quark.cn/s/919ed57be09b", "name": "长河落日" },
                                { "url": "https://pan.quark.cn/s/c725352a84c9", "name": "不期而遇的生活" },
                                { "url": "https://pan.quark.cn/s/66ac36f05896", "name": "UDT：我们小区特工队" },
                                { "url": "https://pan.quark.cn/s/bb760a19fcd3", "name": "亲爱的盗贼大人" },
                                { "url": "https://pan.quark.cn/s/7839d151c4a6", "name": "因为没有来生" },
                                { "url": "https://pan.quark.cn/s/c4c270ffd5cd", "name": "春日狂热" },
                                { "url": "https://pan.quark.cn/s/be269172317a", "name": "最后的夏天" },
                                { "url": "https://pan.quark.cn/s/2c264829db66", "name": "法官李汉英" },
                                { "url": "https://pan.quark.cn/s/51b00dd924ba", "name": "爱我" },
                                { "url": "https://pan.quark.cn/s/f8c328fa0fb9", "name": "疯子" },
                                { "url": "https://pan.quark.cn/s/75a69e6bf073", "name": "等待京道" },
                                { "url": "https://pan.quark.cn/s/92a98c68b34c", "name": "韩国制造" },
                                { "url": "https://pan.quark.cn/s/eb24b7de0998", "name": "历劫惊途 第二季【附第一季】" },
                                { "url": "https://pan.quark.cn/s/0d41256f2293", "name": "坟场回路" },
                                { "url": "https://pan.quark.cn/s/23d5c1bb1a09", "name": "夜班经理 第二季【附第一季】" },
                                { "url": "https://pan.quark.cn/s/806841ffab19", "name": "奇思妙探 第三季" },
                                { "url": "https://pan.quark.cn/s/ef3725acfbc7", "name": "战利品 第三季" },
                                { "url": "https://pan.quark.cn/s/508071dd8bbc", "name": "权欲第四章：武力 第三季" },
                                { "url": "https://pan.quark.cn/s/45ee6c6fcfc7", "name": "波西·杰克逊 第二季" },
                                { "url": "https://pan.quark.cn/s/54a1febf35bc", "name": "海军罪案调查处：溯源 第二季" },
                                { "url": "https://pan.quark.cn/s/c354c468dcf7", "name": "石油天王 第二季" },
                                { "url": "https://pan.quark.cn/s/c34d714e45f5", "name": "紧急呼救 第九季【附往季】" },
                                { "url": "https://pan.quark.cn/s/ab4698e2685e", "name": "罗宾汉" },
                                { "url": "https://pan.quark.cn/s/35899c996bae", "name": "诉讼女王" },
                                { "url": "https://pan.quark.cn/s/417faab56b24", "name": "金斯敦市长 第四季 I 附前三季" },
                                { "url": "https://pan.quark.cn/s/88ac19a59cc8", "name": "皇家棕榈 第二季" },
                                { "url": "https://pan.quark.cn/s/7ab3c5b3e0d6", "name": "死亡使者" },
                                { "url": "https://pan.quark.cn/s/736c5be78247", "name": "一步不停歇，半步不退让" },
                                { "url": "https://pan.quark.cn/s/82d9fe903238", "name": "探索新境 第二季/探索新境2" },
                                { "url": "https://pan.quark.cn/s/139f6d6e3549", "name": "一起开麦吧" },
                                { "url": "https://pan.quark.cn/s/ec9a9f7d62a1", "name": "一路繁花第二季" },
                                { "url": "https://pan.quark.cn/s/309df1eef41a", "name": "中国唱将" },
                                { "url": "https://pan.quark.cn/s/86edcade2d44", "name": "九零婚介所" },
                                { "url": "https://pan.quark.cn/s/7d78710c2da2", "name": "你好星期六" },
                                { "url": "https://pan.quark.cn/s/e1cee86bd33f", "name": "你好种地少年3" },
                                { "url": "https://pan.quark.cn/s/c1cf84fc7a83", "name": "偏爱之恋" },
                                { "url": "https://pan.quark.cn/s/c965c5f4e7fb", "name": "共同说 第三季" },
                                { "url": "https://pan.quark.cn/s/c9879f43a008", "name": "再见爱人5" },
                                { "url": "https://pan.quark.cn/s/c238288b0aac", "name": "初入职场：中医季" },
                                { "url": "https://pan.quark.cn/s/25c5655287d6", "name": "势均力敌的我们 第二季" },
                                { "url": "https://pan.quark.cn/s/2993f78aa358", "name": "南波万的聚会 第四季" },
                                { "url": "https://pan.quark.cn/s/4926ba5ee476", "name": "名侦探学院 第九季" },
                                { "url": "https://pan.quark.cn/s/3b1d100fa25b", "name": "向往的生活8" },
                                { "url": "https://pan.quark.cn/s/81bc6a3387d0", "name": "嗨放派·生存对战季" },
                                { "url": "https://pan.quark.cn/s/f19bc9af035a", "name": "在恋爱开始之前" },
                                { "url": "https://pan.quark.cn/s/d0c788104aef", "name": "声生不息·华流季" },
                                { "url": "https://pan.quark.cn/s/5ca55a638532", "name": "声鸣远扬" },
                                { "url": "https://pan.quark.cn/s/15f55e011090", "name": "奔跑吧·天路篇" },
                                { "url": "https://pan.quark.cn/s/be6bf4224b91", "name": "好友好有爱 第三季" },
                                { "url": "https://pan.quark.cn/s/46ce45931647", "name": "宇宙闪烁请注意" },
                                { "url": "https://pan.quark.cn/s/199d72ffd806", "name": "开播吧！短剧季" },
                                { "url": "https://pan.quark.cn/s/ca36cf1d2fe4", "name": "当家爸爸的聚会" },
                                { "url": "https://pan.quark.cn/s/52591fc8f1f2", "name": "快乐老友·有风季" },
                                { "url": "https://pan.quark.cn/s/217370738bcf", "name": "快乐趣吹风" },
                                { "url": "https://pan.quark.cn/s/8f6d995238c9", "name": "日落时分说爱你" },
                                { "url": "https://pan.quark.cn/s/0a8fb820ec15", "name": "有你的恋歌 第二季" },
                                { "url": "https://pan.quark.cn/s/a7fac6459d09", "name": "有秘密的我们 第二季" },
                                { "url": "https://pan.quark.cn/s/c570bb70cff5", "name": "森林进化论 第三季" },
                                { "url": "https://pan.quark.cn/s/a5cf7250d857", "name": "欢迎来到蘑菇屋2" },
                                { "url": "https://pan.quark.cn/s/2b4de120de07", "name": "泰甜啦 双轨团综" },
                                { "url": "https://pan.quark.cn/s/ca866d7fd0ce", "name": "笑有新生" },
                                { "url": "https://pan.quark.cn/s/a847ff4b2fb9", "name": "逃离朝九晚五的恋爱" },
                                { "url": "https://pan.quark.cn/s/b9944c66c4f0", "name": "非来不可3" },
                                { "url": "https://pan.quark.cn/s/f39d53ba2886", "name": "弱鸡地狱训练营" },
                                { "url": "https://pan.quark.cn/s/41f38ca30c34", "name": "我独自生活" },
                                { "url": "https://pan.quark.cn/s/afec2a5d2e03", "name": "拳王争霸" },
                                { "url": "https://pan.quark.cn/s/2c8415ac56af", "name": "换乘恋爱 第四季" },
                                { "url": "https://pan.quark.cn/s/e18b3394c76b", "name": "超人回来了" },
                                { "url": "https://pan.quark.cn/s/51279b4dc36a", "name": "猎战狂徒 (2026)" },
                                { "url": "https://pan.quark.cn/s/e1548fa0adde", "name": "凡人修仙传" },
                                { "url": "https://pan.quark.cn/s/6035775e1418", "name": "间谍过家家 第三季" },
                                { "url": "https://pan.quark.cn/s/5b8b6a7660d2", "name": "人之初" },
                                { "url": "https://pan.quark.cn/s/f47a1d444cae", "name": "人浮于爱" },
                                { "url": "https://pan.quark.cn/s/365b6c7d1948", "name": "凡人修仙传【电视剧/真人版】" },
                                { "url": "https://pan.quark.cn/s/b205152b7d2d", "name": "反人类暴行‎" },
                                { "url": "https://pan.quark.cn/s/2f7d0b9a4776", "name": "唐朝诡事录之长安" },
                                { "url": "https://pan.quark.cn/s/a157e2e7c4c6", "name": "唐诡奇谭" },
                                { "url": "https://pan.quark.cn/s/66228a13b244", "name": "唐诡奇谭之九重楼" },
                                { "url": "https://pan.quark.cn/s/cda0fcb4982e", "name": "大生意人" },
                                { "url": "https://pan.quark.cn/s/328280f74e99", "name": "新闻女王2" },
                                { "url": "https://pan.quark.cn/s/74c685c16e35", "name": "时差一万公里" },
                                { "url": "https://pan.quark.cn/s/5cb18986959d", "name": "枭起青壤" },
                                { "url": "https://pan.quark.cn/s/250826da9bd6", "name": "狙击蝴蝶" },
                                { "url": "https://pan.quark.cn/s/9b080eeabc67", "name": "罚罪2" },
                                { "url": "https://pan.quark.cn/s/7a82e3bacfd9", "name": "老舅" },
                                { "url": "https://pan.quark.cn/s/0698b3ef924b", "name": "长安二十四计" },
                                { "url": "https://pan.quark.cn/s/4250e2673b1f", "name": "骄阳似我" },
                                { "url": "https://pan.quark.cn/s/5289d278af3a", "name": "模范出租车3【附前两季】" },
                                { "url": "https://pan.quark.cn/s/a01816e74117", "name": "灵指" },
                                { "url": "https://pan.quark.cn/s/f03cf05c216c", "name": "甜蜜家园 s1至s3" },
                                { "url": "https://pan.quark.cn/s/b0c7c7f81bfb", "name": "同乐者 第一季" },
                                { "url": "https://pan.quark.cn/s/2e4a8c625e0c", "name": "怪奇物语 第五季" },
                                { "url": "https://pan.quark.cn/s/cb2e5a391585", "name": "陆海之战 I 《神秘博士》衍生剧" },
                                { "url": "https://pan.quark.cn/s/1cb021073e06", "name": "巅峰对决 第一季" },
                                { "url": "https://pan.quark.cn/s/06e87c738faa", "name": "喜人奇妙夜2" },
                                { "url": "https://pan.quark.cn/s/bd453bd79315", "name": "请回答1988 十周年MT" },
                                { "url": "https://pan.quark.cn/s/322306a603a7", "name": "731‎ I 731: 生化启示录" },
                                { "url": "https://pan.quark.cn/s/d7dc7cafa494", "name": "刺杀小说家2" },
                                { "url": "https://pan.quark.cn/s/a3f675daa43b", "name": "得闲谨制 (2025)" },
                                { "url": "https://pan.quark.cn/s/55df778fe0ad", "name": "日掛中天(2025)" },
                                { "url": "https://pan.quark.cn/s/8d7480675ddf", "name": "浪浪人生 (2025)" },
                                { "url": "https://pan.quark.cn/s/1a36ee4fa148", "name": "运钞大劫案（2025）" },
                                { "url": "https://pan.quark.cn/s/311c072c4f23", "name": "震耳欲聋 (2025)" },
                                { "url": "https://pan.quark.cn/s/e1a6188c380c", "name": "铁血战士：杀戮之地 Predator: Badlands (2025)" },
                                { "url": "https://pan.quark.cn/s/d35932008cac", "name": "阿凡达：火与烬 / 阿凡达3" },
                                { "url": "https://pan.quark.cn/s/d177a7861090", "name": "坏蛋联盟2" },
                                { "url": "https://pan.quark.cn/s/411d52c5028d", "name": "浪浪山小妖怪(2025)" },
                                { "url": "https://pan.quark.cn/s/a20ccd021d51", "name": "疯狂动物城2 Zootopia 2(2025)" },
                                { "url": "https://pan.quark.cn/s/8f0f8c60f8fc", "name": "罗小黑战记2(2025)" },
                                { "url": "https://pan.quark.cn/s/777220a9136f", "name": "链锯人 剧场版：蕾塞篇 劇場版(2025)" },
                                { "url": "https://pan.quark.cn/s/08358286f775", "name": "鬼灭之刃：无限城篇 第一章" },
                                { "url": "https://pan.quark.cn/s/ef68d8461e7f", "name": "一念永恒第三季（合集）" },
                                { "url": "https://pan.quark.cn/s/7ccd3792b62d", "name": "万剑王座" },
                                { "url": "https://pan.quark.cn/s/1d7382a0f129", "name": "万古剑帝" },
                                { "url": "https://pan.quark.cn/s/3844cdf80f5a", "name": "三线轮洄" },
                                { "url": "https://pan.quark.cn/s/cbd211987e8a", "name": "云深不知梦" },
                                { "url": "https://pan.quark.cn/s/6d30306826e1", "name": "余烬行者" },
                                { "url": "https://pan.quark.cn/s/29a16e32f797", "name": "克金玩家" },
                                { "url": "https://pan.quark.cn/s/64050062a749", "name": "剑来" },
                                { "url": "https://pan.quark.cn/s/ffbe3bf6cb6c", "name": "君有云 第二季" },
                                { "url": "https://pan.quark.cn/s/cc6040cc484c", "name": "天命大神皇" },
                                { "url": "https://pan.quark.cn/s/7714442d995a", "name": "宗门里除了我都是卧底" },
                                { "url": "https://pan.quark.cn/s/9eff40abb361", "name": "开局就有王者账号" },
                                { "url": "https://pan.quark.cn/s/e351758ad5b6", "name": "我为刀宗" },
                                { "url": "https://pan.quark.cn/s/1c60bbfcfd5a", "name": "无上神帝" },
                                { "url": "https://pan.quark.cn/s/1071bb1b2599", "name": "枕刀歌 第三季" },
                                { "url": "https://pan.quark.cn/s/ddcfd629263a", "name": "武动乾坤第六季" },
                                { "url": "https://pan.quark.cn/s/374e50023061", "name": "沧元图" },
                                { "url": "https://pan.quark.cn/s/d8ce9bb7bc51", "name": "灵剑尊" },
                                { "url": "https://pan.quark.cn/s/3465a1c20ecc", "name": "神国之上" },
                                { "url": "https://pan.quark.cn/s/fafa0c759908", "name": "第一序列" },
                                { "url": "https://pan.quark.cn/s/d2136bbd04b9", "name": "紫川第二季" },
                                { "url": "https://pan.quark.cn/s/c5c3b7a455cc", "name": "缥缈剑仙传" },
                                { "url": "https://pan.quark.cn/s/af08ee96394d", "name": "苍兰诀 第二季" },
                                { "url": "https://pan.quark.cn/s/d9137571cb34", "name": "诛仙第三季" },
                                { "url": "https://pan.quark.cn/s/c9a95670cb4a", "name": "诡秘之主" },
                                { "url": "https://pan.quark.cn/s/44e6c1cae8d0", "name": "谷围南亭" },
                                { "url": "https://pan.quark.cn/s/b9dbd7adca96", "name": "超凡进化" },
                                { "url": "https://pan.quark.cn/s/443d8a681990", "name": "通灵妃第二季" },
                                { "url": "https://pan.quark.cn/s/adf697acf286", "name": "魔法公主的小烦恼" },
                                { "url": "https://pan.quark.cn/s/f8eac877059c", "name": "龙族 第二季" },
                                { "url": "https://pan.quark.cn/s/0e2ad0ea897d", "name": "龙魂8集+忘忧国3集" },
                                { "url": "https://pan.quark.cn/s/2c013c66ed9e", "name": "灵笼第二季+第一季" },
                                { "url": "https://pan.quark.cn/s/50998871cb2d", "name": "雾山五行" },
                                { "url": "https://pan.quark.cn/s/564b07e135b5", "name": "一拳超人第三季 附系列合集" },
                                { "url": "https://pan.quark.cn/s/69177a9a238f", "name": "光逝去的夏天" },
                                { "url": "https://pan.quark.cn/s/cac2b4be2fa3", "name": "奥美迦奥特曼" },
                                { "url": "https://pan.quark.cn/s/dc0ecb4d4a1a", "name": "新世纪福音战士 新世紀エヴァンゲリオン(1995)" },
                                { "url": "https://pan.quark.cn/s/196f8db0b8b5", "name": "86-不存在的战区" },
                                { "url": "https://pan.quark.cn/s/a014bb55827d", "name": "命运石之门" },
                                { "url": "https://pan.quark.cn/s/d55526f38b00", "name": "寄生兽" },
                                { "url": "https://pan.quark.cn/s/6eb3bf47bfe5", "name": "我独自升级" },
                                { "url": "https://pan.quark.cn/s/2cd1ea892655", "name": "死亡笔记" },
                                { "url": "https://pan.quark.cn/s/b127929c97c9", "name": "甲铁城的卡巴内利" },
                                { "url": "https://pan.quark.cn/s/b37e76a355e2", "name": "紫罗兰永恒花园" },
                                { "url": "https://pan.quark.cn/s/87ec3c859dcd", "name": "进击的巨人（撤退的矮人）" },
                                { "url": "https://pan.quark.cn/s/2d5d9b2ceaea", "name": "青之箱/青春之箱/蓝箱" },
                                { "url": "https://pan.quark.cn/s/981a79504f0e", "name": "古墓丽影：劳拉·克劳馥传奇 第二季" },
                                { "url": "https://pan.quark.cn/s/8b69ad463f12", "name": "乌蒙深处" },
                                { "url": "https://pan.quark.cn/s/6e521244c4ca", "name": "亦舞之城" },
                                { "url": "https://pan.quark.cn/s/244f42c2f80b", "name": "凤凰台上" },
                                { "url": "https://pan.quark.cn/s/a3f8c0a19ab6", "name": "剥茧" },
                                { "url": "https://pan.quark.cn/s/58cb59986c4e", "name": "勿扰飞升（2025）" },
                                { "url": "https://pan.quark.cn/s/ffa38c7bc0fc", "name": "即刻上场" },
                                { "url": "https://pan.quark.cn/s/d3b9ee8f3499", "name": "双轨" },
                                { "url": "https://pan.quark.cn/s/54a73ec94b84", "name": "哑舍" },
                                { "url": "https://pan.quark.cn/s/2808712b5818", "name": "天书黎明" },
                                { "url": "https://pan.quark.cn/s/99f02d307a1b", "name": "奇迹" },
                                { "url": "https://pan.quark.cn/s/faa2c5d08fb8", "name": "暗影侦探" },
                                { "url": "https://pan.quark.cn/s/7d56a86fa2c8", "name": "暗影侦探" },
                                { "url": "https://pan.quark.cn/s/49891771f925", "name": "毒舌家庭" },
                                { "url": "https://pan.quark.cn/s/e34c74277019", "name": "海市蜃楼" },
                                { "url": "https://pan.quark.cn/s/5b7602eaca1b", "name": "监所男子囚生记" },
                                { "url": "https://pan.quark.cn/s/2c3d1397c69a", "name": "绮梦令" },
                                { "url": "https://pan.quark.cn/s/798035367b9c", "name": "超感迷宫" },
                                { "url": "https://pan.quark.cn/s/ea93e39be248", "name": "轻年" },
                                { "url": "https://pan.quark.cn/s/f273646eadd3", "name": "逍遥" },
                                { "url": "https://pan.quark.cn/s/5a75f0ebbcb8", "name": "隐锋" },
                                { "url": "https://pan.quark.cn/s/60947353108c", "name": "风与潮" },
                                { "url": "https://pan.quark.cn/s/0fc7309c015a", "name": "龙王令之妃卿莫属" },
                                { "url": "https://pan.quark.cn/s/f57d6b57ed25", "name": "一吻爆炸" },
                                { "url": "https://pan.quark.cn/s/423018dcb994", "name": "不幸的幸会" },
                                { "url": "https://pan.quark.cn/s/30208b9367ea", "name": "亲爱的X" },
                                { "url": "https://pan.quark.cn/s/625acb270f1c", "name": "公益律师" },
                                { "url": "https://pan.quark.cn/s/f863075e3ada", "name": "反派们" },
                                { "url": "https://pan.quark.cn/s/d4cb42b3ce73", "name": "台风商社" },
                                { "url": "https://pan.quark.cn/s/65dd0aeb2e7c", "name": "孤单又灿烂的神：鬼怪(2016)" },
                                { "url": "https://pan.quark.cn/s/d10daf921312", "name": "操控游戏" },
                                { "url": "https://pan.quark.cn/s/12d9a0dcdd19", "name": "月亮在江边流淌" },
                                { "url": "https://pan.quark.cn/s/56f3d2b8ac27", "name": "爱：曲目" },
                                { "url": "https://pan.quark.cn/s/254e107037cb", "name": "现金英雄" },
                                { "url": "https://pan.quark.cn/s/6ba24664c514", "name": "认罪之罪" },
                                { "url": "https://pan.quark.cn/s/67a818254301", "name": "金部长的梦想人生" },
                                { "url": "https://pan.quark.cn/s/3e53779f6f43", "name": "危险追逃 Run Away (2026)" },
                                { "url": "https://pan.quark.cn/s/b5f5d0229584", "name": "失序边缘" },
                                { "url": "https://pan.quark.cn/s/32c8e7fd2112", "name": "小丑回魂：欢迎来到德里镇 第一季" },
                                { "url": "https://pan.quark.cn/s/28e87e08a374", "name": "杰克·莱恩 第四季" },
                                { "url": "https://pan.quark.cn/s/7acbde2e9de8", "name": "海军罪案调查处：欧洲喋血篇" },
                                { "url": "https://pan.quark.cn/s/4f5e06ceea54", "name": "罗宾汉" },
                                { "url": "https://pan.quark.cn/s/ac8eab66b1cc", "name": "都是她的错 (2025)" },
                                { "url": "https://pan.quark.cn/s/4f3cf0e0e42f", "name": "2025-2026湖南卫视芒果TV跨年演唱会 (2025)" },
                                { "url": "https://pan.quark.cn/s/ef4c5ea5cba3", "name": "2025bilibili跨年晚会·最美的夜 (2025)" },
                                { "url": "https://pan.quark.cn/s/d044c3a562e6", "name": "各大卫视2026跨年晚会【北京、东方、广东、河北、江苏、浙江、芒果、bilibil】" },
                                { "url": "https://pan.quark.cn/s/6628b818050d", "name": "更好2026·江苏卫视跨年演唱会 (2025)" },
                                { "url": "https://pan.quark.cn/s/e9a8843c09bc", "name": "816 BIG (2023)" },
                                { "url": "https://pan.quark.cn/s/f16a8ca45af8", "name": "一瞬之光(2025)" },
                                { "url": "https://pan.quark.cn/s/0871d1a9e325", "name": "万箭穿心(2012)" },
                                { "url": "https://pan.quark.cn/s/87734779dfa3", "name": "下一个台风" },
                                { "url": "https://pan.quark.cn/s/dd3453985b63", "name": "东极岛(2025)" },
                                { "url": "https://pan.quark.cn/s/3e402e6d5031", "name": "举起手来！(2005)" },
                                { "url": "https://pan.quark.cn/s/5b314ad1a9fd", "name": "从21世纪安全撤离(2024)" },
                                { "url": "https://pan.quark.cn/s/a88e061b405e", "name": "册杀 (2025)" },
                                { "url": "https://pan.quark.cn/s/703f659de7c1", "name": "匆匆那年(2014)" },
                                { "url": "https://pan.quark.cn/s/c6911d1f1a0c", "name": "午夜怪谈2(2025)" },
                                { "url": "https://pan.quark.cn/s/57698ad66342", "name": "南京照相馆(2025)" },
                                { "url": "https://pan.quark.cn/s/63894714b287", "name": "即兴谋杀 (2025)" },
                                { "url": "https://pan.quark.cn/s/1854b04a3dea", "name": "向阳·花(2025)" },
                                { "url": "https://pan.quark.cn/s/87bb21f79876", "name": "命中罪爱(2025)" },
                                { "url": "https://pan.quark.cn/s/2cc81ab3967b", "name": "奇遇 (2025)" },
                                { "url": "https://pan.quark.cn/s/075590ca7781", "name": "好东西(2024)" },
                                { "url": "https://pan.quark.cn/s/d537e28fd528", "name": "射雕英雄传：侠之大者(2025)" },
                                { "url": "https://pan.quark.cn/s/891c27375900", "name": "幽冥花开(2025)" },
                                { "url": "https://pan.quark.cn/s/d79abcec9105", "name": "志愿军：浴血和平 (2025) / 志愿军3" },
                                { "url": "https://pan.quark.cn/s/e8186e113c77", "name": "恶行之外(2025)" },
                                { "url": "https://pan.quark.cn/s/f0c9a6802617", "name": "想飞的女孩(2025)" },
                                { "url": "https://pan.quark.cn/s/4ab939e4c1ad", "name": "戏台(2025)" },
                                { "url": "https://pan.quark.cn/s/a7a5d4199626", "name": "战斗吧木兰(2025)" },
                                { "url": "https://pan.quark.cn/s/3c9ac580e56a", "name": "手遮天 (2026)" },
                                { "url": "https://pan.quark.cn/s/a44a20961080", "name": "抓娃娃(2024)" },
                                { "url": "https://pan.quark.cn/s/6a1c0c360678", "name": "拆弹专家2(2020)" },
                                { "url": "https://pan.quark.cn/s/4a291cf470b0", "name": "搏击手(2025)" },
                                { "url": "https://pan.quark.cn/s/38d2ea7551fd", "name": "摸金玦之天星陵(2025)" },
                                { "url": "https://pan.quark.cn/s/daf2dc82b273", "name": "新逃学威龙：卧底高校 (2025)" },
                                { "url": "https://pan.quark.cn/s/25d2e13e29c7", "name": "方世玉续集(1993)" },
                                { "url": "https://pan.quark.cn/s/b92c55754b10", "name": "无名之辈：否极泰来(2025)" },
                                { "url": "https://pan.quark.cn/s/c8a269056989", "name": "无名指(2025)" },
                                { "url": "https://pan.quark.cn/s/c8c9bf1113bb", "name": "无归客 (2025)" },
                                { "url": "https://pan.quark.cn/s/3e58d49186ce", "name": "无玷之城(2025)" },
                                { "url": "https://pan.quark.cn/s/c0d592e7a503", "name": "无间道3：终极无间 無間道III 終極無間(2003)" },
                                { "url": "https://pan.quark.cn/s/2b0bb1d1025f", "name": "李时你是真顽皮(2024)" },
                                { "url": "https://pan.quark.cn/s/b780dae7b7cf", "name": "来都来了(2024)" },
                                { "url": "https://pan.quark.cn/s/3de8c23e8ef0", "name": "棋拳风暴(2025)" },
                                { "url": "https://pan.quark.cn/s/c403e1bbfb86", "name": "毕正明的证明 (2025)" },
                                { "url": "https://pan.quark.cn/s/bbb041616982", "name": "水饺皇后(2025)" },
                                { "url": "https://pan.quark.cn/s/0e73c9f15929", "name": "流浪地球2(2023)" },
                                { "url": "https://pan.quark.cn/s/c425f0c9581b", "name": "涉过愤怒的海 (2023)" },
                                { "url": "https://pan.quark.cn/s/f1a489f0d902", "name": "独行月球 (2022)" },
                                { "url": "https://pan.quark.cn/s/0912904a318d", "name": "猎战狂徒 (2026)" },
                                { "url": "https://pan.quark.cn/s/60c58a6e968d", "name": "猎金游戏" },
                                { "url": "https://pan.quark.cn/s/ef1e977fb3ca", "name": "目中无人2(2024)" },
                                { "url": "https://pan.quark.cn/s/9378ca9814c8", "name": "破·地狱(2024)" },
                                { "url": "https://pan.quark.cn/s/351d724f93ef", "name": "神雕侠侣：问世间(2025)" },
                                { "url": "https://pan.quark.cn/s/e56a4ed2fea6", "name": "缉盗(2025)" },
                                { "url": "https://pan.quark.cn/s/b890fd81dc7a", "name": "老狐狸(2023)" },
                                { "url": "https://pan.quark.cn/s/65cba7f03059", "name": "聊斋：兰若寺(2025)" },
                                { "url": "https://pan.quark.cn/s/fdbaf87dcd0a", "name": "背后有人 (2025)" },
                                { "url": "https://pan.quark.cn/s/45673e1bfec8", "name": "花漾少女杀人事件(2025)" },
                                { "url": "https://pan.quark.cn/s/e9122cd8764b", "name": "蛟龙行动(2025)" },
                                { "url": "https://pan.quark.cn/s/dd045670492a", "name": "血染凤凰(2025)" },
                                { "url": "https://pan.quark.cn/s/c47daee05fcc", "name": "角头：斗阵欸 （2025）「附角头系列合集」" },
                                { "url": "https://pan.quark.cn/s/87391105ea25", "name": "解密 (2024)" },
                                { "url": "https://pan.quark.cn/s/fbfc475ac2f3", "name": "误判(2024)" },
                                { "url": "https://pan.quark.cn/s/ffd95dc9ba50", "name": "误杀3(2024)" },
                                { "url": "https://pan.quark.cn/s/a92785638619", "name": "豆包县令(2024)" },
                                { "url": "https://pan.quark.cn/s/39db1a9b9fa0", "name": "走走停停(2024)" },
                                { "url": "https://pan.quark.cn/s/237994a46706", "name": "轻于鸿毛(2025)" },
                                { "url": "https://pan.quark.cn/s/a8a683faa534", "name": "追踪者(2025)" },
                                { "url": "https://pan.quark.cn/s/021d63fb61f3", "name": "那个不为人知的故事(2024)" },
                                { "url": "https://pan.quark.cn/s/54b0b7e7da86", "name": "酱园弄·悬案(2024)" },
                                { "url": "https://pan.quark.cn/s/56c417706a33", "name": "金银决(2025)" },
                                { "url": "https://pan.quark.cn/s/095ffb5e4714", "name": "长安的荔枝(2025)" },
                                { "url": "https://pan.quark.cn/s/9578b6423302", "name": "阳光俱乐部 (2025)" },
                                { "url": "https://pan.quark.cn/s/f50d3ce748fc", "name": "陈翔六点半之疯狂代号(2025)" },
                                { "url": "https://pan.quark.cn/s/2f8939f82355", "name": "雷霆营救 (2025)" },
                                { "url": "https://pan.quark.cn/s/70950a0ff9f1", "name": "霸王别姬(1993)" },
                                { "url": "https://pan.quark.cn/s/20dbdc9a6d4f", "name": "驱魔龙族马小玲" },
                                { "url": "https://pan.quark.cn/s/505b3f0e84e3", "name": "黄沙漫天(2025)" },
                                { "url": "https://pan.quark.cn/s/6a54dd103689", "name": "13天13夜 13 jours, 13 nuits(2025)" },
                                { "url": "https://pan.quark.cn/s/d42d3c26b6db", "name": "F1：狂飙飞车 F1: The Movie(2025)" },
                                { "url": "https://pan.quark.cn/s/b69cc21886c5", "name": "一战再战 One Battle After Another(2025)" },
                                { "url": "https://pan.quark.cn/s/ad7d3429b06e", "name": "三恶人 The Unholy Trinity(2024)" },
                                { "url": "https://pan.quark.cn/s/f048704b7376", "name": "不羁夜 Boogie Nights(1997)【未删减版】" },
                                { "url": "https://pan.quark.cn/s/f69ab094cd7f", "name": "丑陋的继姐 Den stygge stesøsteren(2025)" },
                                { "url": "https://pan.quark.cn/s/2bb07ad6d544", "name": "世贸中心 (2006)" },
                                { "url": "https://pan.quark.cn/s/2acd292dd07c", "name": "伊甸湖 Eden Lake(2008)" },
                                { "url": "https://pan.quark.cn/s/3d6aaa5ec1fe", "name": "传话人(2024)" },
                                { "url": "https://pan.quark.cn/s/714c3242ecce", "name": "偷天盗日 (2025)" },
                                { "url": "https://pan.quark.cn/s/34027078f57b", "name": "傲慢与偏见(2005)" },
                                { "url": "https://pan.quark.cn/s/9cda4c41b81b", "name": "全知读者视角" },
                                { "url": "https://pan.quark.cn/s/80371192576c", "name": "养蜂人 The Beekeeper" },
                                { "url": "https://pan.quark.cn/s/b2cf103115d6", "name": "冬日之死 Dead of Winter(2025)" },
                                { "url": "https://pan.quark.cn/s/9dfb2fb04fb6", "name": "凶降喜讯 굿뉴스(2025)" },
                                { "url": "https://pan.quark.cn/s/9e5e3415553d", "name": "勇士 Warrior (2011)" },
                                { "url": "https://pan.quark.cn/s/be1b7e0151a1", "name": "即兴卧底 Deep Cover(2025)" },
                                { "url": "https://pan.quark.cn/s/3854a97e9576", "name": "周四推理俱乐部(2025)" },
                                { "url": "https://pan.quark.cn/s/6ceb4fd35030", "name": "因果报应(2024)" },
                                { "url": "https://pan.quark.cn/s/e2ec8ed9aea6", "name": "国家元首 Heads of State(2025)" },
                                { "url": "https://pan.quark.cn/s/89173dd75d74", "name": "地狱尖兵 Лучшие в аду(2022)" },
                                { "url": "https://pan.quark.cn/s/ab1d68d34aa4", "name": "大力杀手波派 (2025)" },
                                { "url": "https://pan.quark.cn/s/f6f7cd9a25ed", "name": "天国与地狱(2025)" },
                                { "url": "https://pan.quark.cn/s/633e69764d46", "name": "天国王朝(2005)" },
                                { "url": "https://pan.quark.cn/s/512cb0e02c4f", "name": "妄人妄途 Maareesan(2025)" },
                                { "url": "https://pan.quark.cn/s/458babec7bd9", "name": "寄生虫(2019)" },
                                { "url": "https://pan.quark.cn/s/211ae651f4c9", "name": "小人物之歌 The Ballad of a Small Player(2025)" },
                                { "url": "https://pan.quark.cn/s/27352104067e", "name": "小鹿斑比：清算" },
                                { "url": "https://pan.quark.cn/s/e17794767ebe", "name": "屋顶人 Roofman(2025)" },
                                { "url": "https://pan.quark.cn/s/d7dc14952ef1", "name": "巨洪 대홍수 (2025)" },
                                { "url": "https://pan.quark.cn/s/60be484d2c97", "name": "异世降临 Ash (2025)" },
                                { "url": "https://pan.quark.cn/s/ab2a6fc3d4e9", "name": "弗兰肯斯坦 Frankenstein(2025)" },
                                { "url": "https://pan.quark.cn/s/266afae037ca", "name": "德古拉 Dracula (2025)" },
                                { "url": "https://pan.quark.cn/s/f607608b5595", "name": "戏梦巴黎 The Dreamers" },
                                { "url": "https://pan.quark.cn/s/209c7ad5fb6e", "name": "我们是伯利恒 Somos Belén(2025)" },
                                { "url": "https://pan.quark.cn/s/bec27bd621d4", "name": "战·争 Warfare(2025)" },
                                { "url": "https://pan.quark.cn/s/7dcd2dd62b0b", "name": "拯救地球" },
                                { "url": "https://pan.quark.cn/s/aab39b44247c", "name": "推动摇篮的手(2025)" },
                                { "url": "https://pan.quark.cn/s/039380adc3de", "name": "斗争之日 Last Days(2025)" },
                                { "url": "https://pan.quark.cn/s/c67674887c52", "name": "新世界(2013)" },
                                { "url": "https://pan.quark.cn/s/9c50d1ea036f", "name": "新干线惊爆倒数 新幹線大爆破(2025)" },
                                { "url": "https://pan.quark.cn/s/8529e83b3a33", "name": "无可奈何 (2025)" },
                                { "url": "https://pan.quark.cn/s/ce63cd58c8e3", "name": "星际穿越(2014)" },
                                { "url": "https://pan.quark.cn/s/c7b6e5b3b712", "name": "普通事故 / 纯属意外" },
                                { "url": "https://pan.quark.cn/s/a105850348ad", "name": "极速女神 Eenie Meanie(2025)" },
                                { "url": "https://pan.quark.cn/s/1a471318230e", "name": "永恒站 Eternity (2025)" },
                                { "url": "https://pan.quark.cn/s/be386e1b65d4", "name": "泰坦尼克号 Titanic(1997)" },
                                { "url": "https://pan.quark.cn/s/b55680d8f826", "name": "海蒂和爷爷(2015)" },
                                { "url": "https://pan.quark.cn/s/e9130d0a5492", "name": "火烧天堂镇 The Lost Bus(2025)" },
                                { "url": "https://pan.quark.cn/s/f61f6ace7af6", "name": "灰姑娘(2015)" },
                                { "url": "https://pan.quark.cn/s/965bfef9e277", "name": "炸裂白宫 A House of Dynamite(2025)" },
                                { "url": "https://pan.quark.cn/s/113bca252511", "name": "猎人克莱文(2024)" },
                                { "url": "https://pan.quark.cn/s/35a031e11502", "name": "猎杀之后 After the Hunt(2025)" },
                                { "url": "https://pan.quark.cn/s/5b76e9996e20", "name": "玩爆约会 Playdate(2025)" },
                                { "url": "https://pan.quark.cn/s/21e6de278167", "name": "玫瑰(2025)" },
                                { "url": "https://pan.quark.cn/s/fa552358e685", "name": "生死狙击 Shooter(2007)" },
                                { "url": "https://pan.quark.cn/s/7d1056f96e4b", "name": "疯狂海盗团2 (2025)" },
                                { "url": "https://pan.quark.cn/s/6b1b0efb6573", "name": "盗梦空间(2010)" },
                                { "url": "https://pan.quark.cn/s/8258114da7c2", "name": "直到黎明(2025)" },
                                { "url": "https://pan.quark.cn/s/08ca880d3e18", "name": "穆赫兰道(2001)" },
                                { "url": "https://pan.quark.cn/s/f4ccc2eb8ae8", "name": "粉碎机 The Smashing Machine(2025)" },
                                { "url": "https://pan.quark.cn/s/02519fb056b6", "name": "纽伦堡 Nuremberg (2025)" },
                                { "url": "https://pan.quark.cn/s/a73f23480acd", "name": "绿皮书 Green Book(2018)" },
                                { "url": "https://pan.quark.cn/s/d1dd706f327d", "name": "罪人(2025)" },
                                { "url": "https://pan.quark.cn/s/b68607bf1e53", "name": "肖申克的救赎 The Shawshank Redemption(1994)" },
                                { "url": "https://pan.quark.cn/s/3a2d6d35b43d", "name": "蜘蛛女之吻(2025)" },
                                { "url": "https://pan.quark.cn/s/3a01c3168faf", "name": "蜡烛台 キャンドルスティック(2025)" },
                                { "url": "https://pan.quark.cn/s/fd85861e5ac0", "name": "警报战 Alarum(2025)" },
                                { "url": "https://pan.quark.cn/s/8d272b65a488", "name": "超异能特攻 하이파이브 (2025)" },
                                { "url": "https://pan.quark.cn/s/2d9167826b1d", "name": "边境奇袭 Contraataque(2025)" },
                                { "url": "https://pan.quark.cn/s/7a0a56d1890f", "name": "远古狂蟒 THE ANACONDAS (2025)" },
                                { "url": "https://pan.quark.cn/s/695955bb3ae9", "name": "金盆协议 Fight or Flight(2025)" },
                                { "url": "https://pan.quark.cn/s/326e83cac7ac", "name": "银河护卫队 Guardians of the Galaxy(2014)" },
                                { "url": "https://pan.quark.cn/s/721745fd19c4", "name": "银莲花 Anemone(2025)" },
                                { "url": "https://pan.quark.cn/s/52e49a8c09ef", "name": "锅匠，裁缝，士兵，间谍 Tinker Tailor Soldier Spy(2011)" },
                                { "url": "https://pan.quark.cn/s/c97caaadd521", "name": "闪电侠(2023)" },
                                { "url": "https://pan.quark.cn/s/d32f7184abb1", "name": "雷霆特攻队 Thunderbolts (2025)" },
                                { "url": "https://pan.quark.cn/s/b83c823f1ef7", "name": "马特·赖夫：拆炸弹：观众互动圣诞特辑(2025)" },
                                { "url": "https://pan.quark.cn/s/41d69a4b1ce8", "name": "黑手煞星 Trouble Man(2025)" },
                                { "url": "https://pan.quark.cn/s/8f89df2cc0b9", "name": "黑道中人 Alto Knights(2025)" },
                                { "url": "https://pan.quark.cn/s/7a5acca3b9a2", "name": "X特遣队：全员集结 The Suicide Squad(2021)" },
                                { "url": "https://pan.quark.cn/s/0e77c9a55b93", "name": "侏罗纪游戏：灭绝(2025)" },
                                { "url": "https://pan.quark.cn/s/e237b91ea6bc", "name": "冰川时代 Ice Age(2002)" },
                                { "url": "https://pan.quark.cn/s/5e0788bdfc66", "name": "创：战神 Tron: Ares(2025)" },
                                { "url": "https://pan.quark.cn/s/f869fb27b483", "name": "利刃出鞘3 (2025) 利刃出鞘：亡者归来" },
                                { "url": "https://pan.quark.cn/s/709f1582fc75", "name": "哈利·波特与魔法石 (2001)" },
                                { "url": "https://pan.quark.cn/s/6a98e87dcbf7", "name": "哥斯拉2：怪兽之王 Godzilla: King of the Monsters(2019)" },
                                { "url": "https://pan.quark.cn/s/a12d5f53d5d6", "name": "唐顿庄园3" },
                                { "url": "https://pan.quark.cn/s/a8aacae4c785", "name": "小人物2 Nobody 2(2025)" },
                                { "url": "https://pan.quark.cn/s/27f642fc809b", "name": "山怪巨魔2 Troll 2(2025)" },
                                { "url": "https://pan.quark.cn/s/16da88421b87", "name": "惊变28年 28 Years Later(2025)" },
                                { "url": "https://pan.quark.cn/s/bf858dca04cd", "name": "惊天魔盗团 Now You See Me(2013)" },
                                { "url": "https://pan.quark.cn/s/97f822f0c1d3", "name": "惊天魔盗团3" },
                                { "url": "https://pan.quark.cn/s/f692ea5e5da8", "name": "招魂4：终章(2025)" },
                                { "url": "https://pan.quark.cn/s/8de9ed490280", "name": "新·驯龙高手(2025)" },
                                { "url": "https://pan.quark.cn/s/058a40060dda", "name": "新狂蟒之灾 Anaconda (2025)" },
                                { "url": "https://pan.quark.cn/s/6a24bd846b99", "name": "权力的游戏(2011)" },
                                { "url": "https://pan.quark.cn/s/21b92dc37ab4", "name": "死神来了6：血脉诅咒(2025)" },
                                { "url": "https://pan.quark.cn/s/e36d41d5b57e", "name": "毒液2(2021)" },
                                { "url": "https://pan.quark.cn/s/5ccd6a85bd7f", "name": "永生战士2" },
                                { "url": "https://pan.quark.cn/s/2fce36db36e6", "name": "沙丘2 (2024)" },
                                { "url": "https://pan.quark.cn/s/9ecf106c2814", "name": "犯罪都市4 범죄도시4" },
                                { "url": "https://pan.quark.cn/s/cfa576e9338b", "name": "玩具总动员4 Toy Story 4(2019)" },
                                { "url": "https://pan.quark.cn/s/69a8cfaea2b8", "name": "玩具熊的五夜惊魂2 (2025)【附第一部】" },
                                { "url": "https://pan.quark.cn/s/171d9c08ab04", "name": "电锯惊魂10(2023)" },
                                { "url": "https://pan.quark.cn/s/a3825e3fd687", "name": "碟中谍8：最终清算" },
                                { "url": "https://pan.quark.cn/s/47a299ed293e", "name": "神奇4侠：初露锋芒 The Fantastic Four: First Steps(2025)" },
                                { "url": "https://pan.quark.cn/s/277fddcf6ec4", "name": "第一滴血5：最后的血(2019)" },
                                { "url": "https://pan.quark.cn/s/eac998ed3d08", "name": "美国队长4（2025）" },
                                { "url": "https://pan.quark.cn/s/50aa30414706", "name": "铁血战士：杀戮之地 Predator: Badlands(2025)" },
                                { "url": "https://pan.quark.cn/s/419f390719b5", "name": "铁血战士：杀戮之王(2025)" },
                                { "url": "https://pan.quark.cn/s/3fbf01f0c69e", "name": "驯龙高手(2010)" },
                                { "url": "https://pan.quark.cn/s/2fbd120203c6", "name": "魔法坏女巫2 Wicked: For Good (2025)" },
                                { "url": "https://pan.quark.cn/s/6a790cb2d943", "name": "黑色电话2 Black Phone 2(2025)" },
                                { "url": "https://pan.quark.cn/s/65395c978496", "name": "你的名字。 君の名は。 (2016)" },
                                { "url": "https://pan.quark.cn/s/859c3be6f7e8", "name": "名侦探柯南：独眼的残像(2025)" },
                                { "url": "https://pan.quark.cn/s/a2f26c4100ee", "name": "名侦探柯南：独眼的残像(2025)" },
                                { "url": "https://pan.quark.cn/s/e130ccf98b31", "name": "喜羊羊与灰太狼之异国破晓 (2025)" },
                                { "url": "https://pan.quark.cn/s/2dbb40553dd7", "name": "奇幻西游：新世界（又名: 八戒：决战未来）" },
                                { "url": "https://pan.quark.cn/s/42ccb0088a62", "name": "心灵奇旅 Soul (2020)" },
                                { "url": "https://pan.quark.cn/s/548ca900cf49", "name": "机动战士高达：跨时之战 機動戦士Gundam GQuuuuuuX -Beginning-(2025)" },
                                { "url": "https://pan.quark.cn/s/0045eec50074", "name": "机器人之梦(2023)" },
                                { "url": "https://pan.quark.cn/s/a3e759b772b9", "name": "灵能百分百 モブサイコ100(2016)" },
                                { "url": "https://pan.quark.cn/s/0d28a5e86b9c", "name": "狮子王 The Lion King(1994)" },
                                { "url": "https://pan.quark.cn/s/d6e48bdb684f", "name": "猪猪侠·一只老猪的逆袭 (2025)" },
                                { "url": "https://pan.quark.cn/s/fc573c7fddd2", "name": "疯狂动物城" },
                                { "url": "https://pan.quark.cn/s/5f90737e7046", "name": "荒野机器人 The Wild Robot(2024)" },
                                { "url": "https://pan.quark.cn/s/6d86b999a006", "name": "蜡笔小新：灼热的春日部舞者们 (2025)" }
                            ]
                        }
                    ]
                }
            ]
        }
        const hash = Number(window.location.hash.replace('#', ''))
        const tabIndex = isNaN(hash) ? 0 : (hash >= 0 && hash < data.tabs.length) ? hash : 0
        Vue.createApp({
            data() {
                return {
                    tabs: data.tabs,
                    currentTab: tabIndex,
                }
            }
        }).mount('#app')
    </script>
</body>

</html>